header {
	font-family: Monospace, Courier New;
	background-color: #333;
  overflow: hidden;
}
header h3 {
  line-height: 45px;
  font-size: 2rem;
  margin: 0;
  display:inline;
  color: white;
}
nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float:right;
  display:inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAY REVISE WHOLE NAV SYSTEM*/
li.nav{
 display: inline;
 position: 
}
/*background for nav*/
li.nav{  
  background-color: #333;
  overflow: hidden;
}

/*Style for links inside nav */
li a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* hover feature */
li a:hover {
  background-color: #ddd;
  color: black;
}

/*color on current link*/
li a.nav {
  background-color: #4CAF50;
  color: white;
}

/* right align */
li.nav {
  float: right;
}

/*revision stops here*/
img { 
	max-width: 100%;
}
img.IDpic { 
	width: 250px;
	height: 250px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #063008;
  color: white;
  text-align: center;
}
body{
  background-color: #147312;
}
img.thumbnail{
  width: 100px;
  height: 100px;
}
div.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-template-columns: 30% 30% 30%;
  background-color: #1e5220;
  padding: 40px;
}
div.grid-item {
  background-color: #306e32;
  border: 10px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
section h4{
  font-family: Monospace, Courier New;
}
section p{
  font-family: monospace, Courier New;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  background-color: grey;
}
table, th, td{
  border: 1px solid black;
  background-color: white;
  font-family: monospace, Courier New;
}
h2, h3, h4, h5{
  font-size: 20px;
  font-family: monospace, Courier New;
}
li.Ed{
  font-family: monospace, Courier New;
}